test/SwishMapper.Tests/TestData/xsd/ref-element.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
    <xs:element name="message">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="payload" minOccurs="1" maxOccurs="4"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="payload">
        <xs:complexType>
            <xs:attribute name="myAttribute" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>
